[user]
	email = marijagolubovic16@gmail.com
	name = Marija Golubović
[init]
	defaultBranch = master
[pull]
	ff = only
[push]
	default = simple
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
